<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <button onclick="window.location.href='/analyzeCropHealth'">
      Crop Health
    </button>
    <button onclick="window.location.href='/monitorSoilPH'">Soil PH</button>
    <button onclick="window.location.href='/monitorUVLight'">UV Light</button>
  </body>
</html>
