<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <button onclick="startMonitorSoilPH()">Start Soil PH monitoring</button>

    <button onclick="window.location.href='/'">Back to Home</button>
    <script>
      // Function to start Soil PH monitoring
      async function startMonitorSoilPH() {
        const location = prompt("Choose location of the crop field: A or B:");
        const cropType = prompt(
          "Enter the type of crop: Rice, Wheat, or Corn:"
        );

        const response = await fetch("/monitorSoilPHData", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({ location, cropType }),
        });

        const result = await response.json();
        console.log(result);
      }
    </script>
  </body>
</html>
