<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <body>
      <h1><%= title %></h1>
      <p>Welcome to <%= title %></p>
      <button onclick="startUVLightCheck()">Start UV Light monitoring</button>

      <div id="uvLightResponse"></div>

      <br />

      <button onclick="window.location.href='/'">Back to Home</button>
      <script>
        // Function to start Soil PH monitoring
        async function startUVLightCheck() {
          const location = prompt("Choose location of the crop field: A or B:");
          const crop_type = prompt(
            "Enter the type of crop: Rice, Wheat, or Corn:"
          );

          console.log("Location:", location);
          console.log("Crop Type:", crop_type);

          fetch("/monitorUVLightData", {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify({ location, crop_type }),
          })
            .then((response) => response.json())
            .then((result) => {
              console.log(result);
              document.getElementById("uvLightResponse").innerHTML =
                "<p>UV Light Monitoring Response: " +
                JSON.stringify(result) +
                "</p>";
            })
            .catch((error) => {
              console.error("Error:", error);
              document.getElementById("uvLightResponse").innerHTML =
                "<p>Error: An error occurred.</p>";
            });
        }
      </script>
    </body>
  </body>
</html>
